* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif "Poppins", sans-serif;
  box-sizing: border-box; 
  font-size: 1.1rem;  
}
body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  
}
h1, h2{
  display: inline-block;
  font-size: 1.6rem;
  border-bottom: 2.5px solid rgb(76, 73, 73);
  box-shadow: 0px 1px 1px rgb(76, 73, 73);
  margin-left: 5px;
  padding:0 5px;
}
.container {
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}
table {
  padding: 10px;
  padding-left: 5px;
  width: 90%;
  row-gap: 10px;
  float: left;
}
.education{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif "Poppins", sans-serif;
}

/* jump-to-top-icon */
.jump-to-top {
  float: right;
  font-size: smaller;
  color: #f20879c5;
}

/* footer section */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.logo-image{
    width: 60px;
    object-fit:fill;
    border-radius: 50%;
}


/* media-query */

@media (max-width:550px) {
  img {
    width: 100px;
    border-radius: 50px;
    float: top;
  }
  .container {
    font-weight: 300px;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
  }
  .jump-to-top {
    float: right;
    font-size: x-small;
    color: #f20879c5;
  }
  
  .logo-image{
    width: 50px;
    margin: 2px; 
    padding-right: 2px;
    object-fit:fill;
  }
}